<section id="hero">
  <div class="hero-content">
    <div class="container">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <p>We are team of talented designers making websites with Bootstrap</p>
      <button class="btn-outline">Get Started</button>
    </div>
  </div>
</section>

<section class="courses-section">
  <div class="container">
    <app-courses></app-courses>
  </div>
</section>

<section class="trainers-section">
  <div class="container">
    <app-trainers></app-trainers>
  </div>
</section>
