#hero {
  width: 100%;
  height: 80vh;
background: url("/assets/hero-bg.jpg") center / cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.256);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: left;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.hero-content p {
  color: #eee;
  font-size: 24px;
  margin-bottom: 30px;
}

.btn-outline {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 50px;
  padding: 10px 35px;
  display: inline-block;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.btn-outline:hover {
  background: #5fcf80;
  border-color: #5fcf80;
  color: #fff;
}

@media (max-width: 768px) {
  #hero {
    height: 60vh;
  }

  .hero-content h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }
}
