/*--------------------------------------------------------------
# Trainers
--------------------------------------------------------------*/
.trainers .member {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eef0ef;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s;
}

.trainers .member img {
  margin: -1px -1px 30px -1px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.trainers .member .member-content {
  padding: 0 20px 30px 20px;
}

.trainers .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.trainers .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #6c757d;
}

.trainers .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #6c757d;
  margin-bottom: 0;
}

.trainers .member .social {
  margin-top: 15px;
}

.trainers .member .social a {
  color: #7e9486;
  transition: 0.3s;
  margin: 0 3px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #a8b9a0;
}

.trainers .member .social a:hover {
  color: #5fcf80;
  background: #e9ecea;
  border-color: #5fcf80;
}

.trainers .member:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}
